<div class="text-center">
  <h1>Welcome to MyApp</h1>
  <p class="lead">This is my personal space. Enjoy!</p>
</div>
<div class="hero bg-primary text-white text-center py-5">
    <h1 class="display-4">Welcome to My Page</h1>
    <p class="lead">Learn more about me, my projects, and my passions!</p>
    <a href="#about" class="btn btn-light btn-lg">Learn More</a>
</div>
